on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

name: Mobile Build
jobs:
  build:
    name: Build and test APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'
    - uses: subosito/flutter-action@v2.4.0
      with:
        channel: 'beta'
        flutter-version: '2.2.0-10.1.pre'
    - name: Get Flutter packages
      run: |
        cd mobile
        flutter pub get
    - name: Run Flutter tests
      run: |
        cd mobile
        flutter test
    - name: Build APK
      run: |
        cd mobile
        flutter build apk --debug
#   - name: Archive artifacts
#     uses: actions/upload-artifact@v2
#     with:
#       name: APKs
#       path: mobile/build/app/outputs/apk/debug/app-*.apk

